/* file in app.js 
// state = {
    //     hits: null,
    //     loading: false,
    // };

    // componentDidMount() {
    //     const BASE_URL = 'https://pixabay.com/api/';
    //     const API_KEY = '19044793-8d0b89c981ce143090a5b157d';
    //     // this.searchQuery = '';
    //     // this.page = 1;
    //     this.setState({ loading: true });
    //     fetch(
    //         `${BASE_URL}?key=${API_KEY}&page=1&image_type=photo&orientation=horizontal&per_page=12&q=rose`,
    //     )
    //         .then(response => response.json())
    //         .then(data => {
    //             console.log(data.hits);
    //             return data.hits;
    //         })
    //         .then(hits => this.setState({ hits }))
    //         .finally(() => this.setState({ loading: false }));
    // } */

/* .App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
